.container-color{
    background-color: rgb(255, 255, 255) !important;
}
.modalSize{
    width: 30vw;
    height: 40vw;
}
.is-color{
    background-color: #f76666dc !important;
}
.color-nav{
    background-color: rgb(252, 170, 47) !important;
}
.idPokemon{
    position:absolute;
    color: rgb(255, 255, 255);
    top:-1.1%;
    font-weight: normal;
}
.idPokemon0-9{
    left:88%
}
.idPokemon10-99{
    left:84%
}
.idPokemon100{
    left:80%
}
.tags{
    position: absolute;
    left: 15px;
    top: 92%;
    width: 8%;
    color: white;
    border-radius: 5px;
}
.titleCard{
    position: absolute;
    left: -4%;
    top: -5%;
    text-align: center;
    width: 80%;
    padding: 0px 7px 1px 7px;
    background-color: black;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.titleCard-10letters{
    font-size: 143%;
}
.titleCard-14letters{
    font-size: 120%;
}
.titleCard-18Letters{
    font-size: 111%;
}
.titleCard-19Letters{
    width: 80%;
    font-size: 110%;
}
.p3{
    color: rgb(152, 152, 152);
    position: absolute;
    left: 6%;
    top: 84%;
    font-size: 110%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.p4{
    color: rgb(114, 114, 114);
    position: absolute;
    left: 19%;
    top: 91%;
    font-size: 79%;
    font-weight: light;
}
.p5{
    color: rgb(0, 0, 0);
    position: absolute;
    right: 8%;
    top: 84%;
    font-size: 90%;
    font-weight: light;
}
.figureSize{ 
    width: 100%;
    height: 100%px;
}
.sizeImg{ 
    margin-top:9%;
    margin-bottom: 3%;
    width: 100%;
    height: 100%px;
}
.imgModal{ 
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    width: 65%;
    height: 65%px;
}
/* ----------------------- Colors ------------------------------ */
.agua-light{
    background-color: rgba(110, 186, 186, 0.897) !important;
}
.purple-light{
    background-color: rgba(194, 144, 204, 0.897) !important;
}
.orange-light{
    background-color: rgba(209, 178, 162, 0.897) !important;
}
.green-light{
    background-color: rgba(156, 201, 139, 0.897) !important;
}
.blue-light{
    background-color: rgba(152, 154, 201, 0.897) !important;
}
.red-light{
    background-color: rgba(197, 144, 144, 0.897) !important;
}
.black-light{
    background-color: rgba(120, 203, 184, 0.897) !important;
}


.border-agua-light{
    border: 2px solid rgb(0, 255, 255, 0.623);
}
.border-purple-light{
    border: 2px solid  rgba(217, 0, 255, 0.514);
}
.border-orange-light{
    border: 2px solid  rgba(255, 216, 44, 0.514);
}
.border-green-light{
    border: 2px solid rgb(72, 255, 0, 0.514);
}
.border-blue-light{
    border: 2px solid rgb(0, 8, 255, 0.514);
}
.border-red-light{
    border: 2px solid rgb(255, 1, 1, 0.514);
}
.border-black-light{
    border: 2px solid rgb(73, 73, 73, 0.514);
}